__pycache__/
*.py[cod]
*.log
*.swp
*.tmp
*.pt
*.pth
*.ckpt
*.onnx
*.safetensors

emoca/data/
emoca/assets/
emoca/.git/
emoca/external/
emoca/gdl_apps/EMOCA/video_output/
emoca/gdl_apps/EMOCA/EMOCA_gif_sparse_*.gif
SMPLer-X/assets/
SMPLer-X/demo/
SMPLer-X/output
SMPLer-X/pretrained_models/
SMPLer-X/common/utils/human_model_files
SMPLer-X/dataset
SMPLer-X/*.npy
SMPLer-X/*.tar
SMPLer-X/main/vis
SMPLer-X/main/vis*
SMPLer-X/tool/AGORA/vis*
SMPLer-X/tool/SHAPY/vis*
SMPLer-X/*egg-info/
SMPLer-X/.idea/
SMPLer-X/.git/
SMPLer-X/smoothnet/results/
SMPLer-X/data/SHAPY/mesh-mesh-intersection/build/
SMPLer-X/data/SHAPY/mesh-mesh-intersection/mesh_mesh_intersect_cuda.cpython-38-x86_64-linux-gnu.so
Depth-Anything-V2/depth_anything_v2_vitb.pth
Depth-Anything-V2/depth_anything_v2_vitl.pth
Depth-Anything-V2/.git/
Grounded-SAM-2/bert-base-uncased/
Grounded-SAM-2/checkpoints/
Grounded-SAM-2/gdino_checkpoints/
Grounded-SAM-2/.git/
ProPainter/weights/
ProPainter/.git/
sapiens/model/
sapiens/.git/
RealisDance/pretrained_models/
RealisDance/checkpoint/
RealisDance/.git/
